html {
    background-image: url("../images/cooper.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
	height: 100%;
	min-height: 100%;
    color: white;
}
.bullets {
    list-style: none;
    text-indent: -20px;
    margin-left: 40px;
	margin-right: 40px;
    color: white;
    width: auto;
}
.header {
    color: #E74144
}
.media {
    width: 50%;
    float: left;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

p {
        
        width: 95%;
		margin: auto;
    }

.b4bullets

{

width: 95%;
margin: auto;

}

.afterBullets {
width: 95%;
margin: auto;
    }
	
	
.familyPhoto
	
	{
		
		
        width:195px;
		
		display: block;
        margin: 0 auto;
		
		
	}	


@media screen and (min-width: 1025px) {
	
	
	.familyPhoto
	
	{
		width:259.5px;
		height:356.25px;
		display: block;
        margin: 0 auto;
       
		
		
	}
	
	
	
	
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
    p {
        padding-right: 300px;
        padding-bottom: 50px;
        padding-left: 300px;
    }
    .b4bullets {
        
        margin-top: -60px;
		padding-left: 315px;
		
    }
    .bullets {
        width: 50%;
        margin: 0 auto;
    }
    .afterBullets {
        padding-right: 300px;
        padding-bottom: 50px;
        padding-left: 300px;
    }