html {
    background-image: url("../images/cooper.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.endorsers {
    padding-top: 30px;
    width: 95%;
    margin: auto;
}
.header {
    color: #E74144;
}